<html>
<link href="stylesheet/style.css" rel="stylesheet">
<form method="POST">
<select name="Week">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
   <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
  <option value="7">7</option>
  <option value="8">8</option>
  <option value="9">9</option>
  <option value="10">10</option>
  <option value="11">11</option>
  <option value="12">12</option>


</select>
<br>
<input type="submit">

</form>
<br>
You can also sign up for weekly text updates!
<form method="POST">
<input type="text" placeholder ="Phone Number">
<input type="text" placeholder="Due Date">
<input type="submit">
</form>
<html>